In [2]:
import pandas as pd

In [19]:
df = pd.read_csv('C:\\Users\\jayor\\Downloads\\dataYO\\blogtext.csv')

In [20]:
df.head()

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,..."
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...

In [21]:
with open('../data/scripts/news.txt', 'r') as file:
    data = file.read()
    lines = data.split()
    max_words = len(lines)
    print(max_words)

86648

In [23]:
total_words = 0
with open('../data/scripts/blog.txt', 'a+', encoding="utf-8") as file:
    for index, row in df.iterrows():
        text = row['text']
        num_words = len(text)
        print(num_words)
        file.write(text)
        file.write('\n')
        total_words += num_words
        if total_words >= max_words:
            break

157
181
25467
43
402
3695
1105
2281
2289
957
1767
2714
2999
371
1761
2023
872
985
2352
4521
2448
1981
2401
1481
811
2160
498
5288
1392
4778
569
132
832
431
1802
687
3909

In [24]:
with open('../data/scripts/blog.txt', 'r', encoding="utf-8") as file:
    data = file.read()
    lines = data.split()
    max_words = len(lines)
    print(max_words)

15360